#about {
    display: flex;
    align-items: center;
    padding: 6.25rem 0;
    color: var(--grey);
}

.about__title {
    text-align: center;
    padding: 0 0 4rem 0;
}

.about__stages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.25rem;
}

.about__stage {
    display: flex;
}

.about__number {
    font-size: 3.25rem;
    padding: 0 2.5rem 0 0;
    text-shadow: 0.125rem 0 var(--yellow);
}

.about__content {
    max-width: 24.5rem;
}

.about__subtitle {
    padding: 0 0 1rem 0;
}

@media screen and (max-width: 768px) {
    .about__stages {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .about__number {
        padding: 0 1.25rem 0 0;
    }

    .about__text {
        display: none;
    }
}

#price {
    padding: 0 0 6.25rem 0;
}

.price__headlines {
    text-align: center;
}

.price__title {
    padding: 0 0 1rem 0;
}

.price__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.75rem;
    padding: 3.75rem 0 0 0;
}

.price__card {
    text-align: center;
    padding: 5.25rem 0;
    border: 1px solid var(--border);
    transition: all .5s linear;
}

.price__card:hover {
    transition: all .5s linear;
    border: 1px solid var(--yellow);
    box-shadow: 0 0.75rem 1.5rem 0 var(--shadow);
}

.price__underTitle {
    padding: 0 0 3.75rem 0;
}

.price__text {
    padding: 0 0 1.5rem 0;
}

.price__text:last-child {
    padding: 0;
}

.price__cost {
    padding: 3.75rem 0 0 0;
}

.price__button {
    padding: 1rem 4.75rem;
    background-color: var(--yellow);
    margin: 3.25rem 0 0 0;
    transition: all .5s linear;
}

.price__button:hover {
    box-shadow: 0 0.25rem 1.5rem 0 var(--yellow);
    transition: all .5s linear;
    color: var(--white);
}

@media screen and (max-width: 768px) {
    #price {
        background: var(--primary-white);
    }

    .price__cards {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    .price__card {
        display: grid;
        width: 80%;
        justify-content: center;
    }

    .price__headlines {
        padding: 3.75rem 0 0 0;
    }
}

@media screen and (max-width: 490px) {
    .price__card {
        width: 100%;
    }
}